<p>update works!</p>
<h3>Update a Student</h3>
<div>
    
    <form (submit)="getStudentById()">
      <label for="idInput" hidden>ID:</label>
      <input type="hidden" id="idInput" [(ngModel)]="id" name="Id" required>
      <!--<button type="submit">Retrieve</button>-->
    </form>
  
    <div *ngIf="student">
      <h3>Student Details</h3>
      <form (submit)="saveUpdatedStudent()">
        <input type="hidden" [(ngModel)]="student.id" name="id">
        <label for="nameInput">Name:</label>
        <input type="text" [(ngModel)]="student.name" name="name" required><br>
        <label for="department">Department:</label>
        <input type="text" [(ngModel)]="student.dept" name="dept" required><br>
        <button type="submit">Update Product</button>
      </form>
    </div>
  </div>